:root {
    --sidebar-width: 300px;
}

body {
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #c1c1c1;
}

/* sidebar css */
.sidebar {
    width: var(--sidebar-width);
}

.left {
    text-align: left;
    float: left;
}

.right {
    float: right;
    text-align: right;
}

/* scoreboard css */
.score-board {
    height: 50%;
}

.score-board-content {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    font-size: 150px;
    transform: translate(-50%, -50%);
}

.missed {
    color: red;
}

.score {
    color: green;
}

.playing-field-body {
    margin: 0;
    padding: 0;
    background-color: #004c48;
    display: flex;
    justify-content: center;
    align-content: center;
}

#playingField {
    background-color: white;
}